.project_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 4rem 1.4rem;
    position: relative;
}

.project_container h2 {
    color: #fff;
    font-size: 2.6rem;
}

.project {
    display: grid;
    grid-template: auto / 1fr;
    gap: 2.5rem;
    margin-top: 4rem;
}

@media screen and (min-width: 461px) {
    .project {
        grid-template: auto / 1fr 1fr;
    }
}
@media screen and (min-width: 768px) {
    .project {
        grid-template: auto / 2fr 2fr;
    }
}
@media screen and (min-width: 1279px) {
    .project {
        grid-template: auto / repeat(3, 1fr);
    }
}