.skills_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 4rem 1.4rem 0 1.4rem;
    border-top: 1px solid #c5c5c518;
    background-color: rgb(40, 40, 40);
}

.skills_container h2 {
    color: #fff;
    font-size: 2.6rem;
}

.skills_container .skills_list {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.skills_container .skills_list .skill_items {
    font-size: 2.4rem;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    max-width: 80%;
    margin-top: 1.6rem;
}