header {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
    background-color: #24061e;
}

main {
    margin-top: 7rem;
}

@media screen and (min-width: 768px) {
    header {
        background-color: transparent;
    }
}