.button {
    color: #ffffffc4;
    background-color: rgb(240, 105, 56);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a:hover, 
.button:hover {
    background-color: rgb(206, 46, 18);
    color: rgb(255, 255, 255);
    transition: all .3s ease;
}