:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #24061e;
}

header {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  background-color: #24061e;
}

section {
  margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  header {
      background-color: transparent;
  }
}